/* 2 завдання
    ((- !Для селектора p задайте властивість color і значення red, властивість font-size і значення 20px;!)) 
	
*/
p {
	color: red;
	font-size: 20px;
  }
  


/* 3 завдання 
(( -Багато елементів (наприклад заголовки) мають встановлені браузером margin і padding.
Зручно робити скидання цих значень до 0. З цією метою підходить селектор з найменшим пріоритетом і
одночасно такий, що задає правила для всіх елементів (виключаючи псевдоелементи, але про це пізніше).
Такий селектор задається символом * - тобто будь-який елемент. Пріоритет у такого селектора мінімальний (без рангу).

!-Для селектора * (будь-який елемент) задай властивість margin і значення 0, властивість padding і значення 0;!
))*/
* {
	margin: 0;
	padding: 0;
  }
  


/* 4 завдання 
!-Для тегу li скасуй властивість list-style за допомогою значення none. Задай властивості color значення green;
Переконайся на прикладі зміни кольору тексту, що у тегу вищий пріоритет, ніж у *.-! */

li {
	list-style: none;
	color: green;
  }
  
* {
	color: red;
  }
  
  
  /* 5 завдання 
  Зміна декору тексту:
  !-Застосуйте декоративні ефекти до тексту, зокрема, забороніть підкреслення та додайте рядкове підкреслення-! */
  .text {
	text-decoration: none;
	text-decoration-line: underline;
  }
  
  
  /* 6 завдання 
  Зміна регістру тексту:
  !-Змініть регістр тексту в різні способи, зробіть текст малими літерами, великими літерами та великими початковими буквами-!*/
  .lowercase {
	text-transform: lowercase;
  }
  
  .uppercase {
	text-transform: uppercase;
  }
  
  .capitalize {
	text-transform: capitalize;
  }
  
  
  /* 7 завдання 
  Вирівнювання тексту:
  !-Вирівняйте текст по горизонталі, змінивши властивість text-align-! */
  .center-align {
	text-align: center;
  }
  
  
  /* 8 завдання 
  Зміна розміру шрифту:
  !-мініть розмір шрифту для текстового елемента.-! */
  .text {
	font-size: 16px;
  }
  